li.select-language:hover .select-language-subnav{
    display: block
    }
    
    
    .select-language-subnav {
      display: none;
    }
    
    li {
      margin: 10px 0;
    }
    
    a {
      padding: 5px;
    }
    